<!------------------------Footer---------------------------------> 
<footer>
    <div class="footer">
        <div class="container">
            <div class="fila">
                <div class="footer-col3">
                    <h3><a href="/all">CONTACTO</a></h3>
                     <ul>
                         <li>adopcion@LosPerrones.com.mx</li>
                         <li>338274057</li>
                         <li>Lunes a Domingo:</li>
                         <li>De 7:00 am a 11:00 pm</li>
                     </ul>
                 </div>
                <div class="footer-col3">
                    <h3>Lomitos</h3>
                     <ul>
                         <li>Grandes</li>
                         <li>Medianos</li>
                         <li>Pequeños</li>
                     </ul>
                 </div>
                <div class="footer-col3">
                   <h3>SOBRE NOSOTROS</h3>
                    <ul>
                        <li>Aviso de privacidad</li>
                        <li>Politicas de adopción</li>
                        <li><a href="/all">¿Quiénes somos?</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Los Perrones</p>
        </div>
    </div>
</footer>